body {
 background-color:#DBDBDB;
}

#menu {   
  left: 20px;
  top: 20px;
  bottom: 20px;
  width:15%;
}

#machineAnim {
  font-family:monospace;
  font-size:200%;
}

#tm {
  right: 20px;
  top: 20px;
  bottom: 20px;
  width:82%;
}

#stateboxes {
	display:table;
	border-spacing:10px;
}


button {
	min-width:100px;
}

.statebox {
  border: 0px solid #ccc; 
  position: relative;
  display: table-cell;
  min-width:280px;
  background:#79B6BD;
}

#tm-content {
	padding:10px;
}

.transTable {
	text-align:center;
}

.dataArea {
	height:20px;
	width:40px;
	text-align:center;
	font-size:150%;
	overflow:auto;
}

#savedata {
	height:300px;
}



#tape {
	height:20px;
	width:300px;
	font-size:150%;
	overflow:auto;
}
#input-holder {
	vertical-align:middle;
}

#addstate-button {
	position:fixed;
	margin:10px;
}

.delstate-button {
	float:right;
}

.addtransition-button-top {
	float:right;
}
