body {
 background-color:#DBDBDB;
}

#menu {   
  left: 20px;
  top: 20px;
  bottom: 20px;
  width:15%;
}



#tm {
  right: 20px;
  top: 20px;
  bottom: 20px;
  width:82%;
}

#stateboxes {
	display:table;
	border-spacing:10px;
}


button {
	min-width:100px;
}

.statebox {
  border: 0px solid #ccc; 
  position: relative;
  display: table-cell;
  min-width:280px;
  background:#79B6BD;
}

#tm-content {
	padding:10px;
}

.transTable {
	text-align:center;
}

.dataArea {
	height:20px;
	width:20px;
	resize:none;
	text-align:center;
	font-size:150%;
	overflow:hidden;
}

#addstate-button {
	position:fixed;
	margin:10px;
}

.delstate-button {
	float:right;
}

.addtransition-button-top {
	float:right;
}
