.tabs {
  position: absolute;
  clear: both;
  margin: 25px 0;
}

.tab {
  float: left;
}

.tab label {
  background: #eee; 
  padding: 10px; 
  border: 0px solid #ccc;  
  margin-right: 10px; 
  position: relative;
   
 
}

.tab [type=radio] {
  display: none;
}

.content {
  position: absolute;
  top: 28px;
  left: 0;
  background: #A3CFD1;
  right: 0;
  bottom: 0;
  padding: 0px;
  border: 0px solid #ccc; 
  overflow:auto;
}

[type=radio]:checked ~ label {
  background: #A3CFD1;
  border: 0px solid #A3CFD1;
  z-index: 2;
}

[type=radio]:checked ~ label ~ .content {
  z-index: 1;
}